# Dub files
.dub
docs.json
__dummy.html
*.o
*.obj
dub.selections.json

# executables and libs
__test__library__
*.exe
*.lib
libgfx-d.a

# examples executables on linux
examples/crate/gfx-d_crate
examples/crate/crate
examples/triangle/gfx-d_triangle
examples/triangle/triangle
examples/stencil/gfx-d_stencil
examples/stencil/stencil
examples/lense/gfx-d_lense
examples/lense/lense
examples/shadow/gfx-d_shadow
examples/shadow/shadow

# vscode files
.vscode/*

# vim files
*.swp

# misc
*TODO.ods*